@font-face {
    font-family: 'GT America';
    src: url('../src/assets/fonts/GTAmerica-Thin.eot');
    src: url('../src/assets/fonts/GTAmerica-Thin.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-Thin.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-Thin.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-Thin.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-Thin.svg#GTAmerica-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Ultra';
    src: url('../src/assets/fonts/GTAmerica-UltraLight.eot');
    src: url('../src/assets/fonts/GTAmerica-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-UltraLight.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-UltraLight.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-UltraLight.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-UltraLight.svg#GTAmerica-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../src/assets/fonts/GTAmerica-Light.eot');
    src: url('../src/assets/fonts/GTAmerica-Light.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-Light.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-Light.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-Light.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-Light.svg#GTAmerica-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../src/assets/fonts/GTAmerica-Regular.eot');
    src: url('../src/assets/fonts/GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-Regular.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-Regular.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-Regular.svg#GTAmerica-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../src/assets/fonts/GTAmerica-Medium.eot');
    src: url('../src/assets/fonts/GTAmerica-Medium.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-Medium.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-Medium.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-Medium.svg#GTAmerica-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../src/assets/fonts/GTAmerica-Bold.eot');
    src: url('../src/assets/fonts/GTAmerica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-Bold.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-Bold.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-Bold.svg#GTAmerica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT America';
    src: url('../src/assets/fonts/GTAmerica-Black.eot');
    src: url('../src/assets/fonts/GTAmerica-Black.eot?#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/GTAmerica-Black.woff2') format('woff2'),
        url('../src/assets/fonts/GTAmerica-Black.woff') format('woff'),
        url('../src/assets/fonts/GTAmerica-Black.ttf') format('truetype'),
        url('../src/assets/fonts/GTAmerica-Black.svg#GTAmerica-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

